BETTER_AUTH_SECRET=
DATABASE_URL=
EMAIL_PASS=
EMAIL_USER=
ENCRYPTION_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_PROJECT_ID=
OPENROUTER_API_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
RESEND_KEY=
SANITY_REVALIDATE_SECRET=
VERCEL_OIDC_TOKEN=
NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_CONVEX_SITE_URL=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_APP_URL=
SITE_URL=
BETTER_AUTH_URL=
